body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
nav {
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 700;
    background: white;
}

.logo span {
    color: #ff4d4d;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: white;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.btn {
    padding: 12px 25px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* PORTFOLIO */
.portfolio {
    padding: 70px 50px;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
}

.scroll-buttons {
    text-align: right;
    margin-bottom: 15px;
}

.scroll-buttons button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.horizontal-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.portfolio-card {
    min-width: 250px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex-shrink: 0;
    transition: 0.3s;
}

.portfolio-card:hover {
    transform: translateY(-8px);
}

.portfolio-image {
    font-size: 50px;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    padding: 60px 20px;
    text-align: center;
    background: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .portfolio-card {
        min-width: 200px;
    }
}
